<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more">
            <img
                src="./assets/icons/more.svg"
                alt="More"
                class="top-bar__more-icon icon"
            />
        </button>
        <!-- Logo -->
        <!-- dùng ./ cho github page, / với tên miền riêng -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo-icon.svg"
                alt="Grocery Mart"
                class="logo__icon"
            />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <!-- Navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Departments<img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                    /></a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Vel eveniet, omnis optio harum dicta tempora
                            quidem blanditiis voluptatum laudantium soluta
                            exercitationem, quam eaque voluptatibus? Pariatur et
                            neque ullam culpa dignissimos. Neque, voluptatum
                            adipisci numquam, recusandae veritatis, in
                            reprehenderit amet voluptatem asperiores est quis
                            dignissimos commodi laudantium voluptate tempora.
                            Consequuntur dignissimos quo in facilis quia, ipsum
                            quidem! Non suscipit laborum officiis?
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Grocery<img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                    /></a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Vel eveniet, omnis optio harum dicta tempora
                            quidem blanditiis voluptatum laudantium soluta
                            exercitationem, quam eaque voluptatibus? Pariatur et
                            neque ullam culpa dignissimos. Neque, voluptatum
                            adipisci numquam, recusandae veritatis, in
                            reprehenderit amet voluptatem asperiores est quis
                            dignissimos commodi laudantium voluptate tempora.
                            Consequuntur dignissimos quo in facilis quia, ipsum
                            quidem! Non suscipit laborum officiis?
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link"
                        >Beauty<img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="navbar__arrow icon"
                    /></a>
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Vel eveniet, omnis optio harum dicta tempora
                            quidem blanditiis voluptatum laudantium soluta
                            exercitationem, quam eaque voluptatibus? Pariatur et
                            neque ullam culpa dignissimos. Neque, voluptatum
                            adipisci numquam, recusandae veritatis, in
                            reprehenderit amet voluptatem asperiores est quis
                            dignissimos commodi laudantium voluptate tempora.
                            Consequuntur dignissimos quo in facilis quia, ipsum
                            quidem! Non suscipit laborum officiis?
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Actions -->
        <div class="top-act">
            <!-- Group 1 -->
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt="search"
                        class="top-act__icon icon"
                    />
                </button>
            </div>
            <!-- Group 2 -->
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt="heart"
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img
                        src="./assets/icons/cart.svg"
                        alt="buy"
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <!-- Avatar -->
            <div class="top-act__user">
                <img
                    src="./assets/img/uifaces-human-image.jpg"
                    alt="Avatar"
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
